{% extends '@system/base.html.twig' %}
{% block stylesheets %}
    <link href="/web/themes/core/system/css/install/install_page.css" rel="stylesheet">
{% endblock %}
{% block page %}
    <div id="install-box-body">
        <h4>Create a new admin</h4>
        {{ form_start(data.install_form) }}

        <div class="form-group has-feedback">
            <!--{{ form_label(data.install_form.email) }}-->
            {{ form_errors(data.install_form.email) }}
            {{ form_widget(data.install_form.email, {'attr': {'class':'form-control','placeholder':'Email'}}) }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <!--{{ form_label(data.install_form.password.first) }}-->
            {{ form_errors(data.install_form.password.first) }}
            {{ form_widget(data.install_form.password.first, {'attr': {'class':'form-control','placeholder':'Password'}}) }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <!--{{ form_label(data.install_form.password.second) }}-->
            {{ form_errors(data.install_form.password.second) }}
            {{ form_widget(data.install_form.password.second, {'attr': {'class':'form-control','placeholder':'Retype password'}}) }}
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">

            </div><!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Create</button>
            </div><!-- /.col -->
        </div>
        {{ form_end(data.install_form) }}
    </div><!-- /.form-box -->
{% endblock %}

{% block javascripts %}
    <script src="/web/themes/core/system/js/install/install_page.js"></script>
{% endblock %}