{% extends '@front/page.html.twig' %}

{% block content %}
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h3>Forgot Password?</h3>
                <hr>
                {% set error_email = data.errors.email.ERROR ?? '' %}
                {{ form_start(data.user_forgot_password_form,{'attr':{}}) }}
                <div class="form-group{% if error_email %} has-error{% endif %}">
                    {{ form_label(data.user_forgot_password_form.email) }}
                    {{ form_widget(data.user_forgot_password_form.email, {'attr': {'class':'form-control', 'placeholder':'Email address'}}) }}
                    {#{{ form_errors(data.user_forgot_password_form.email) }}#}
                    {#{% if error_email %}#}
                    <em for="user_forgot_password_form_email" class="help-block" style="display: block;">
                        {{ error_email }}
                    </em>
                    {#{% endif %}#}
                </div>

                {% if data.use_ajax == 1 %}
                    <input type="hidden" name="ajax" value="1">
                {% else %}
                    <input type="hidden" name="ajax" value="0">
                {% endif %}
                <button class="btn btn-success btn-forgot-password-submit" type="submit">Reset Password</button>
                {{ form_end(data.user_forgot_password_form) }}
                <hr>
            </div>
        </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->
    {% if data.use_ajax == 1 %}
        <script>var registerPageAjax = 1;</script>
    {% else %}
        <script>var registerPageAjax = 0;</script>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('/src/CoreBundle/Resources/front/views/js/user/user_forgot_password_page.js') }}"></script>
{% endblock %}